<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
        </sectionGroup>
    </configSections>

    <spring>
        <context>
            <resource uri="~/App_Data/Context.xml"/>
            <resource uri="~/App_Data/Mappings.xml"/>
        </context>
    </spring>

    <appSettings>
        <add key="WxUrl" value="http://localhost:1003/curd.ashx"/>
        <add key="IsLog" value="true"/>
    </appSettings>

    <connectionStrings>
        <add name="CoreDBContext" connectionString="Data Source=WANGZHAOKANG-PC;Initial Catalog=CorePlus;Persist Security Info=True;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WxAccountServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2001/Service/WxAccountService.asmx" binding="basicHttpBinding" bindingConfiguration="WxAccountServiceSoap" contract="WxAccountService.WxAccountServiceSoap" name="WxAccountServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
