.topmenu
{
    line-height: 22px;
    color: #a8d7ff;
    float: right;
}

.topmenu li
{
    float: left;
    position: relative;
    background-position: right top;
}

.topmenu strong
{
    display: block;
    position: relative;
    height: 25px;
    padding: 0 10px;
    font-weight: normal;
    cursor: default;
    z-index: 20;
}

.topmenu .jq_hidebox
{
    display: none;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 10px;
    border: 1px solid #266dbb;
    background: #fff;
    z-index: 10;
}

.topmenu li.hover strong
{
    border: 1px solid #266dbb;
    border-bottom: none;
    background-color: #fff;
    color: #266dbb;
}

.topmenu li.hover
{
    margin: -1px -1px 0 -1px;
}

.topmenu li.webnav
{
    width: 70px;
}

.topmenu li.webnav .jq_hidebox
{
    width: 200px;
    left: -152px;
}

.jq_hidebox a
{
    color: #266dbb;
}

.aSty01
{
    margin: 0;
}

.aSty01 .title
{
    float: left;
    margin-top: 6px;
    padding: 5px 0 2px 0;
    color: #266dbb;
    border-top: 1px solid #266dbb;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.aSty01 .body
{
    margin: 0;
    float: left;
    text-align: left;
    width: 100%;
}

.aSty01 .body a
{
    color: #266dbb;
}
