<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <object id="dbContext" type="Core.CoreDBContext ,Core" scope="request" singleton="true">
        <property name="Mappings">
            <list element-type="Core.IMapping ,Core">
                <!-- API -->
                <ref object="accountMapping"/>
                <ref object="accountStatisticsMapping"/>
                <ref object="adgroupMapping"/>
                <ref object="adgroupStatisticsMapping"/>
                <ref object="campaignMapping"/>
                <ref object="campaignStatisticsMapping"/>
                <ref object="creativeMapping"/>
                <ref object="creativeStatisticsMapping"/>
                <ref object="keywordMapping"/>
                <ref object="keywordStatisticsMapping"/>
                <ref object="sublinkMapping"/>
                <ref object="folderMapping"/>
                <ref object="monitorMapping"/>

                <!-- 统计 -->
                <ref object="visitMapping"/>

                <!-- 在线客服 -->
                <ref object="dialogInfoMapping"/>
                <ref object="servantInfoMapping"/>

                <!-- 系统 -->
                <ref object="menuMapping"/>
                <ref object="logMapping"/>
                <ref object="managerMapping"/>
                <ref object="paramDtsMapping"/>
                <ref object="paramMapping"/>
                <ref object="roleMapping"/>
                <ref object="roleMenuMapping"/>
                <ref object="userMapping"/>
                <ref object="synDataMapping"/>
                <ref object="synCheckedDataMapping"/>
                <ref object="sideMenuMapping"/>

                <!-- 微信 -->
                <ref object="textMapping"/>
                <ref object="linkMapping"/>
                <ref object="imageMapping"/>
                <ref object="locationMapping"/>
                <ref object="videoMapping"/>
                <ref object="voiceMapping"/>
                <ref object="locationEventMapping"/>
                <ref object="menuEventMapping"/>
                <ref object="scanEventMapping"/>
                <ref object="subscribeEventMapping"/>
                <ref object="recognitionMapping"/>
                <ref object="replyImageTextMapping"/>
                <ref object="replyTextMapping"/>
                <ref object="wxMenuMapping"/>
                <ref object="wxAccountMapping"/>
                <ref object="wxSubUserMapping"/>
                <ref object="wxGroupMapping"/>
                <ref object="wxSubscribeConfigMapping"/>
            </list>
        </property>
    </object>
</objects>