@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="../../Js/component.js"></script>
<script type="text/javascript" src="../../Js/Visit/visit.js"></script>
<script type="text/javascript" src="../../Js/Visit/VisitSettings/TrackIndex.js"></script>
<div class="rightContainer">
    <div class="box">
        <div class="right_top_title">
            <span>设置-生成跟踪脚本</span>
        </div>
        <div class="notice_1 " style="display: block;">
            <span class="green12 b">请将下面的脚本嵌入需要跟踪的网页中</span>
            <div id="trackJs" style="color: Red;">
            </div>
        </div>
    </div>
</div>
