<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HMACMD5KEY" value="{DC1142CB-7687-4A99-9FB8-4A9BD749038E}"/>
    <add key="LoginSign" value="4ADBB6BB6F175C7FEAD13F576F43C489501c4f7bbd3fb63a9ac3170e1e3ce846"/>
    <add key="UserID" value="00000"/>
    <add key="Password" value="501ae668de56c561f98b68b2c1c50e6b"/>
    <add key="CompanyCode" value="51900000"/>
    <add key="ShopCode" value="001"/>
    <add key="PosCode" value="005"/>
    <add key="PosMark" value="AC4FB26212D3F13997E7BF041556ECA8"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IAixinMobileServerbinding" maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <readerQuotas maxDepth="32" maxStringContentLength="81920000" maxArrayLength="163840000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://58.216.207.197/aixinmobileservice.dll/soap/IAixinMobileServer" binding="basicHttpBinding" bindingConfiguration="IAixinMobileServerbinding" contract="AiXinMobileServerService.IAixinMobileServer" name="IAixinMobileServerPort"/>
    </client>
  </system.serviceModel>
</configuration>