<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc3"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IsLog" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="CoreDBContext" connectionString="Data Source=WANGZHAOKANG-PC;Initial Catalog=CorePlus;Persist Security Info=True;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <spring>
    <context>
      <resource uri="~/App_Data/Mappings.xml"/>
      <resource uri="~/App_Data/Context.xml"/>
    </context>
  </spring>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>