<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="AccountServiceSOAP1" />
                <binding name="CampaignServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="CampaignServiceSOAP1" />
                <binding name="AdgroupServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="AdgroupServiceSOAP1" />
                <binding name="KeywordServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="KeywordServiceSOAP1" />
                <binding name="CreativeServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="CreativeServiceSOAP1" />
                <binding name="ReportServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="ReportServiceSOAP1" />
                <binding name="FolderServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="FolderServiceSOAP1" />
                <binding name="KRServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="KRServiceSOAP1" />
                <binding name="NewCreativeServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="NewCreativeServiceSOAP1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.baidu.com/sem/sms/v2/AccountService" binding="basicHttpBinding" bindingConfiguration="AccountServiceSOAP" contract="BaiduAPI_V2_AccountService.AccountService" name="AccountService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/CampaignService" binding="basicHttpBinding" bindingConfiguration="CampaignServiceSOAP" contract="BaiduAPI_V2_CampaignService.CampaignService" name="CampaignService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/AdgroupService" binding="basicHttpBinding" bindingConfiguration="AdgroupServiceSOAP" contract="BaiduAPI_V2_AdgroupService.AdgroupService" name="AdgroupService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/KeywordService" binding="basicHttpBinding" bindingConfiguration="KeywordServiceSOAP" contract="BaiduAPI_V2_KeywordService.KeywordService" name="KeywordService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/CreativeService" binding="basicHttpBinding" bindingConfiguration="CreativeServiceSOAP" contract="BaiduAPI_V2_CreativeService.CreativeService" name="CreativeService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/ReportService" binding="basicHttpBinding" bindingConfiguration="ReportServiceSOAP" contract="BaiduAPI_V2_ReportService.ReportService" name="ReportService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/FolderService" binding="basicHttpBinding" bindingConfiguration="FolderServiceSOAP" contract="BaiduAPI_V2_FolderService.FolderService" name="FolderService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/KRService" binding="basicHttpBinding" bindingConfiguration="KRServiceSOAP" contract="BaiduAPI_V2_KRService.KRService" name="KRService" />
            <endpoint address="https://api.baidu.com/sem/sms/v2/NewCreativeService" binding="basicHttpBinding" bindingConfiguration="NewCreativeServiceSOAP" contract="BaiduAPI_V2_NewCreativeService.NewCreativeService" name="NewCreativeService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
