<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc3"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="~/App_Data/Mappings.xml"/>
      <resource uri="~/App_Data/Context.xml"/>
    </context>
  </spring>
  <connectionStrings>
    <add name="CoreDBContext" connectionString="Data Source=WANGZHAOKANG-PC;Initial Catalog=CorePlus;Persist Security Info=True;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IsLog" value="true"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SocketServiceSoap"/>
        <binding name="ServantServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2001/Service/SocketService.asmx" binding="basicHttpBinding" bindingConfiguration="SocketServiceSoap" contract="SocketService.SocketServiceSoap" name="SocketServiceSoap"/>
      <endpoint address="http://localhost:2001/Service/ServantService.asmx" binding="basicHttpBinding" bindingConfiguration="ServantServiceSoap" contract="ServantService.ServantServiceSoap" name="ServantServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>